@import compass
@import compass/reset

$default-font: Arial, Helvetica, sans-serif
$default-color: #363636
$default-light-color: white

body
  color: $default-color
  background: url( "/img/bg.png" ) no-repeat
  background-position: top center
  background-color: #141414
  margin: 0 auto

#header
  +clearfix
  height: 130px

#menu
  +clearfix
  width: 920px
  margin: 0 auto

.menu-item
  +float-left
  +clearfix
  text-align: center
  padding: 80px 0 20px
  margin: 0 auto

.menu-link
  font-size: 12px
  font-style: italic
  color: grey
  text-decoration: none
  padding: 0 0 15px
  &:hover, &:active
    background: url( "/img/nav-bg.png" ) repeat-x
    background-position: bottom 10px left
    color: white

.menu-st
  font-family: $default-font
  font-style: normal

#menu-home
  width: 120px

#menu-from-show-room
  width: 160px

#menu-about
  width: 120px

#menu-sublogo
  +clearfix
  padding: 65px 10px 0 0

#small-icon
  +hide-text
  +float-right
  +clearfix
  background: url( "/img/sprite/sublogo.png" ) no-repeat
  display: block
  width: 32px
  height: 32px

#banner
  +clearfix
  background: url( "/img/logo.png" ) no-repeat
  background-position: top 80px center
  padding: 256px 0 70px
  margin: 0 auto

#banner-divider
  background: url( "/img/summary-bg.png" ) no-repeat
  background-position: center center
  font-size: 16px
  font-style: italic
  color: #a29a80
  text-align: center
  width: 1261px
  margin: 0 auto

#body
  +clearfix
  background: url( "/img/line-fade.png" ) no-repeat
  background-position: top center
  font-size: 14px
  color: white
  width: 900px
  padding: 50px
  margin: 0 auto

.column
  +float-left
  +clearfix

#body-left

.body-st
  font-family: $default-font
  font-style: normal
  font-weight: bold

.side-block
  width: 160px

#site-intro
  font-style: italic
  font-weight: normal
  line-height: 24px
  padding: 0 0 30px

#chatterbox
  font-family: $default-font
  font-weight: normal

#chatterbox-title
  font-family: $default-font
  font-style: normal
  font-weight: bold
  padding: 0 0 10px

#tweets
  line-height: 18px
  width: 160px

.tweet-link
  color: $default-light-color
  font-weight: bold

.tweet
  font-size: 11px
  padding: 0 0 15px

#stalk-me
  +hide-text
  background: url( "/img/sprite/twitter.png" ) no-repeat
  display: block
  width: 64px
  height: 12px
  &:hover, &:active
    background-position: top 1px left 1px

#body-center
  +clearfix
  width: 540px
  padding: 0 20px

#latest-projects
  +clearfix
  padding: 0 0 30px

.block-title
  font-family: $default-font
  font-size: 15px
  font-weight: bold
  padding: 5px 0 15px

.project
  +float-left
  +clearfix

.p-clip
  display: block

.p-title
  text-align: center
  padding: 10px 0

.p-link
  font-style: italic
  font-size: 12px
  color: $default-light-color
  text-decoration: none
  &:hover, &:active
    text-decoration: underline

.photo-link
  +float-left
  +clearfix
  display: block
  width: 109px
  height: 109px
  &:hover, &:active
    border: 1px solid black
    width: 107px
    height: 107px

.photo
  display: block

#my-photos
  padding: 8px 0
  clear: both

#my-photos-link
  +hide-text
  background: url( "/img/sprite/flickr.png" ) no-repeat
  display: block
  width: 74px
  height: 14px
  &:hover, &:active
    background-position: top 1px left 1px

#noteworthy
  font-family: $default-font
  font-size: 11px
  font-weight: lighter
  line-height: 18px

.nt-title
  font-size: 11px
  font-weight: bold

.nt-taster
  padding: 0 0 10px

#more-links
  padding: 10px 0

#more-links-link
  +hide-text
  background: url( "/img/sprite/delicious.png" ) no-repeat
  display: block
  width: 75px
  height: 14px
  &:hover, &:active
    background-position: top 1px left 1px

#footer
  +clearfix
  background: url( "/img/line.png" ) no-repeat
  background-position: top center
  font-family: $default-font
  font-size: 13px
  color: $default-color
  padding: 0 0 80px

#footer-block1
  +clearfix
  line-height: 18px
  width: 880px
  padding: 0 0 30px
  margin: 0 auto

#footer-title
  +float-left
  +clearfix
  width: 160px
  padding: 40px 0 0

#footer-title-link
  font-size: 15px
  font-weight: bold
  color: $default-light-color
  text-decoration: none
  &:hover, &:active
    border-bottom: 2px solid white

#intro-darren-ansley
  +float-left
  +clearfix
  width: 350px
  padding: 40px 0 0 5px

#intro-designgive
  +float-left
  +clearfix
  width: 290px
  padding: 40px 0 0 45px

.illustration
  +float-left
  +clearfix
  padding: 0 8px 8px 0

.footer-link
  color: $default-light-color
  text-decoration: none
  &:hover, &:active
    text-decoration: underline

#footer-block2
  +clearfix
  background: url( "/img/footer-border.png" ) no-repeat
  background-position: top center
  font-size: 11px
  clear: both
  width: 880px
  padding: 15px 0 0
  margin: 0 auto

#copyrights
  +float-left
  +clearfix
  padding: 8px 0 0

#all-size-devices
  +float-right
  +clearfix
  background: url( "/img/screens.png" ) no-repeat
  background-position: top left
  width: 200px
  height: 28px
  padding: 8px 0 0 110px
